/*  COMP229-013 F2021
    Assignment 1
    File Name:  app.css
    Student#:   301147411
    Name:       Marcus Ngooi
    Date:       October 5, 2021
 */

/* Set background color for web page body */
body {
background-color: aliceblue;
}

/* Organize contact form */
.inputInfoLabel {
    position: absolute;
    margin-right: 20em;
}

.inputInfo {
    margin-left: 150px;
}
